<%- include('../partials/header') %>

<div>Before adding, please ensure that the Player is not in the following list:</div>
<section id="badge-container">
  <% players.forEach(function(p) { %>
    <article class="badge"><%= p.name %></article>
  <% }) %>
</section>

<form id="add-player-form" action="/players" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <input type="submit" value="Add Player">
</form>

<%- include('../partials/footer') %>