<%- include('../partials/header') %>

<!-- <%<h2>Enter a New stat</h2>
<form action="/stats" method="POST">
  <label>Player:
    <input type="text" name="player">
  </label><br>
  <label>Goals:
    <input type="number" name="Goals">
  </label><br>
  <label>Assist
    <input type="number" name="Assist">
    </select>
  </label><br>
<button type="submit">Add stat</button>
</form>
<p><%= errorMsg %></p>  -->

<form action="/players/<%= playerId %>/addStats" method="POST">
  <!-- Add form fields for the new stats -->
  <input type="text" name="statName" placeholder="Stat Name" required>
  <input type="number" name="statValue" placeholder="Stat Value" required>
  <button type="submit">Add Stats</button>
</form>


<%- include('../partials/footer') %> 
