<%- include('../partials/header') %>

<form id="new-form" action="/stats" method="POST">
  <label>Player:</label>
  <input type="text" name="player">
  <label>Goals:</label>
  <input type="text" name="goals">
  <label>Assist</label>
  <input type="text" name="assist">
  </select>
  <input type="submit" value="Add Player">
</form>

<%- include('../partials/footer') %>

